body{
    font: 20px arial;
}

.navbar{
    background-color: #007A0B;
}

.margim{
    padding-top: 10;
    padding-bottom: 10;
    
}

body .navbar-nav{
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 0;
    position: fixed; 
}

.quem-somos{
    background-color:black ;
    color:azure;
}
